.regi-wrap{
	margin-left: 20px;
	max-width:570px;
	min-height:800px;
	position:relative;
	background:url(/img/bld-7.jpg) no-repeat center;
}

.hr{
	height:2px;
	margin:10px 0 8px 0;
}

#gmap {
        margin-left: 580px;
        width: 735px;
        height: 800px;
        border:double;
 }
 
.valid-msg-ok, .valid-msg-error{
	padding: 8px 0px 0px 20px;
	color: infotext;
	font-size: 12px;
}

.valid-msg-ok, .valid-msg-error img{
	margin: 0px 5px;
}

.close{
	display: none;
}

